@{
    ViewData["Title"] = "Create";
}

<form action="Create" method="post">
    <fieldset>
        <legend> fieldset example</legend>
        <div class="mb-3">
            <label for="Input" class="form-label">Enter The Name</label>
            <input type="text" id="Input" class="form-control" name="RoomName" placeholder="Room Name">
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </fieldset>
</form>
