@{
    ViewData["Title"] = "Create";
}

<form action="Create" method="post">
    <fieldset>
        <legend> fieldset example</legend>
        <div class="mb-3">
            <label for="Input" class="form-label">Enter The Name</label>
            <input type="text" id="Input" class="form-control" name="TeacherName" placeholder="Teacher Name">
        </div>
        <div class="mb-3">
            <label for="Text" class="form-label">Enter The Age</label>
            <input type="number" id="Text" class="form-control" name="TeacherAge" placeholder="Teacher Age">
        </div>
        
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </fieldset>
</form>
