@{
    ViewData["Title"] = "Create";
}
@model List<Teacher>

<form action="Create" method="post">
    <fieldset>
        <legend> fieldset example</legend>
        <div class="mb-3">
            <label for="Input" class="form-label">Enter The Name</label>
            <input type="text" id="Input" class="form-control" name="CourseName" placeholder="Course Name" maxlength="10">
        </div>
        <div class="mb-3">
            <label for="Text" class="form-label">Enter The Capicity</label>
            <input type="number" id="Text" class="form-control" name="CourseCapicity" max="25" min="0">
        </div>
        <select class="form-select" aria-label="Default select example" name="TeacherId">
            <option selected>Open this select menu</option>
            @foreach(Teacher teacher in Model)
            {
                <option value="@teacher.TeacherId">@teacher.TeacherName</option>
                
            }
            
 
        </select>
        
        <button type="submit" class="btn btn-primary">Submit</button>
    </fieldset>
</form>
